In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('g11_retail_stores_products_with_suppliers_merged.csv',sep=';')

In [50]:
df.head(3)

,stores_id,products_id,stock_level,restock_date,store_name,location,product_name,category,price,suppliers_id,supplier_name,contact
0,92,414,86,12/01/2025,Store rule,Port Franciscoland,style,Electronics,414,34,Webb Group,472-778-9372x6856
1,90,113,73,09/01/2025,Store expert,Nicoleview,claim,Home,463,20,Shannon-Kramer,729.301.5945x230
2,81,297,37,29/01/2025,Store that,North Timothyburgh,pass,Clothing,437,35,Morrow-Huang,001-557-698-8793x234

In [51]:
df.sort_values('stores_id').head(3)

,stores_id,products_id,stock_level,restock_date,store_name,location,product_name,category,price,suppliers_id,supplier_name,contact
999,1,148,15,20/02/2025,Store good,West Brandy,west,Home,237,1,Wood-Johnson,815.793.8750x5252
1829,1,317,7,23/01/2025,Store good,West Brandy,benefit,Clothing,403,26,Jones-Phillips,302-698-5926x49136
372,1,198,77,09/01/2025,Store good,West Brandy,his,Home,277,18,Bennett LLC,+1-370-863-0463x10452

In [52]:
Store = df.loc[:,['stores_id','store_name','location']]

In [53]:
Store.columns=['id', 'name', 'location']

In [54]:
Store.head(3)

   id          name            location
0  92    Store rule  Port Franciscoland
1  90  Store expert          Nicoleview
2  81    Store that  North Timothyburgh

In [55]:
Store.sort_values('id').head(29)

      id        name     location
999    1  Store good  West Brandy
1829   1  Store good  West Brandy
372    1  Store good  West Brandy
1411   1  Store good  West Brandy
1434   1  Store good  West Brandy
72     1  Store good  West Brandy
794    1  Store good  West Brandy
1607   1  Store good  West Brandy
606    1  Store good  West Brandy
1453   1  Store good  West Brandy
1172   1  Store good  West Brandy
45     1  Store good  West Brandy
1791   1  Store good  West Brandy
391    1  Store good  West Brandy
1554   1  Store good  West Brandy
556    1  Store good  West Brandy
388    1  Store good  West Brandy
1462   1  Store good  West Brandy
249    1  Store good  West Brandy
1024   1  Store good  West Brandy
1336   1  Store good  West Brandy
593    1  Store good  West Brandy
1340   1  Store good  West Brandy
906    1  Store good  West Brandy
1746   1  Store good  West Brandy
859    1  Store good  West Brandy
898    1  Store good  West Brandy
967    1  Store good  West Brandy
997    1  Store good  West Brandy

In [56]:
from sqlalchemy import create_engine

In [57]:
engine = create_engine('sqlite:///loja.db')

In [58]:
Store.to_sql('Store', con =engine, if_exists='replace', index=False)

2000

In [59]:
Product = df.loc[:,['products_id','product_name','category','price']]

In [60]:
Product.columns=['id', 'name', 'category', 'price']

In [61]:
Product.head(3)

    id   name     category  price
0  414  style  Electronics    414
1  113  claim         Home    463
2  297   pass     Clothing    437

In [62]:
Product.to_sql('Product', con =engine, if_exists='replace', index=False)

2000

In [63]:
Suplier = df.loc[:,['suppliers_id','supplier_name','contact']]

In [64]:
Suplier.columns=['id', 'name', 'contact']

In [65]:
Suplier.to_sql('Supplier', con =engine, if_exists='replace', index=False)

2000

In [66]:
Stock = df.loc[:,['stores_id', 'products_id','stock_level','restock_date']]

In [67]:
Stock.head(3)

   stores_id  products_id  stock_level restock_date
0         92          414           86   12/01/2025
1         90          113           73   09/01/2025
2         81          297           37   29/01/2025

In [68]:
Stock.columns=['store_id', 'product_id', 'level', 'restock_date']

In [69]:
Stock.insert(0, 'id', range(1,len(Stock)+1))

In [70]:
Stock.to_sql('Stock', con =engine, if_exists='replace', index=False)

2000